<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    body {
        background: #333333;
    }

    .watchlist {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
    }

    .watchlist-item {

    }

    .watchlist-content-type {
        padding: 10px;
    }

    .watchlist-reference-type {
        padding: 10px;
    }

    .watchlist-item > a {
        color: darkcyan;
        text-decoration: none;
    }

    .watchlist-item > a:hover {
        color: mediumaquamarine;
    }

</style>
<body>
{% if watchlist %}
    <div class="watchlist">
        {% for item in watchlist %}
            <span class="watchlist-item"><a href="{{ item.reference.reference }}">
                <div>
                    <h3 class="watchlist-item-title">{{ item.reference.name }}</h3>
                    <span class="watchlist-content-type">{{ item.reference.content_type_enum.name }}</span>
                    <span class="watchlist-reference-type">{{ item.reference.reference_type_enum.name }}</span>
                </div>
            </a></span>
        {% endfor %}
    </div>
{% else %}
    <p>No polls are available.</p>
{% endif %}

</body>
</html>